<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <style>
        body{
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        button{
        height: 10vh;
        width: 20vw;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 32px;
        }
    </style>
</head>
<body>
    <h1>You have successfully Authenticated</h1>
    <button><a href="/logout">Logout</a></button>
</body>
</html>