<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        font-family: Arial, sans-serif;
        background-color: #def5f7;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    button{
        height: 10vh;
        width: 20vw;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 32px;
    }
    </style>
</head>
<body>
    <h1>Welcome to our website</h1>
    <div class="buttons">
        <button><a class="btn btn-light btn-lg" href="/register" role="button">Register</a></button>
        <button><a class="btn btn-dark btn-lg" href="/login" role="button">Login</a></button>
    </div>
</body>
</html>